/* Small Toggle Switch */
.toggle-switch-small {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
    margin-left: 10px;
}

.toggle-switch-small input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-small {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    transition: .4s;
    border-radius: 34px;
}

.slider-small:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider-small {
    background-color: var(--accent);
}

input:checked+.slider-small:before {
    transform: translateX(16px);
}